[submodule "pybind11"]
	path = external
	url = https://github.com/fwilliams/pybind11.git
	branch = numpy-hacks
[submodule "libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git

