build/
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
numpyeigen.creator.user
numpyeigen.includes
numpyeigen.creator
numpyeigen.files
numpyeigen.config
*.
.idea/

libigl-python-bindings-experiments.config
libigl-python-bindings-experiments.creator
libigl-python-bindings-experiments.files
libigl-python-bindings-experiments.includes
pyigl.config
pyigl.creator
pyigl.files
pyigl.includes



external
bin