[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/fwilliams/pybind11.git
	branch = "numpy-hacks"
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
